@import url('https://fonts.googleapis.com/css2?family=Borel&family=Oi&family=Permanent+Marker&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Oi&family=Permanent+Marker&family=Rye&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Borel&family=Oi&family=Permanent+Marker&family=Rye&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&family=Borel&family=Chelsea+Market&family=Oi&family=Permanent+Marker&family=Rye&family=Yatra+One&display=swap');

:root {
    --bg_color: rgb(255, 255, 255);
    --pos1_1: 30px;
    --pos1: 45px;
    --pos2_1: 36px;
    --after_box_shadow:  inset -2px -2px 0px 0px #907c7c;
    --after_bg: #e2dbdb;
    --_box_shadow: inset -3px 1px 20px 0px #d86060;
    --_bg: rgb(255, 255, 255);
    --transition: 2s all ease-out;
    --flex: flex;
    --bg_nav: linear-gradient(48deg, rgba(181,90,9,1) 0%, rgba(255,0,102,1) 36%, rgba(255,0,0,1) 100%);
    --shadow_nav: inset 12px -10px 20px 0px brown;
    --font_color: white;
    --shade: brown;
    --v: hidden;
    --search: 100px;
    --font_color_inverse: black;
    --body: url("mountain_front_page.jpg");
}

body {
    margin: 10px;
    background-image: var(--body);
    background-size: cover;
    overflow: hidden;
}

/* NavBar */

.NavBar {
    display: flex;
}

.NavBarp1 {
    width: 50%;
    height: 7vh;
    border: 2px double rgb(72, 41, 41) ;
    background: var(--bg_nav);
    border-radius: 10px 100px 10px 100px;
    box-shadow: var(--shadow_nav);
    position: relative;
    transition: var(--transition);
    
    &::before {
        content: "";
        border-radius: 30px 30px 30px 30px;
        width: 30px;
        height: 30px;
        box-shadow: 0px 0px 0px 2px;
        background: var(--bg_nav);
        position: absolute;
        left: var(--pos1);
        transition: 1s all ease-out;
        top: 40px;
        z-index: 1;
    }
}
@keyframes after {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.NavBarp2 {
    width: 50%;
    height: 7vh;
    border: 2px double rgb(72, 41, 41) ;
    background: var(--bg_nav);
    border-radius: 10px 100px 10px 100px;
    box-shadow: var(--shadow_nav);
    transition: var(--transition);
    position: relative;
}

.Option {
    padding-left: 106px;
    padding-top: 3px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.OptionNavBarp1 {
    color: var(--font_color);
    display: var(--flex);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease-out;
    opacity: 0.7;
    &:hover {
        cursor: pointer;
    }
}
.OptionNavBarp2 {
    color: var(--font_color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s all ease-out;
    opacity: 0.7;
    &:hover {
        cursor: pointer;
    }
}

.Option2 {
    padding-left: 106px;
    padding-top: 7px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--font_color);
}
.input {
    display:flex;
}
.searchIcon {
    margin-top: 2px;
    padding-right: 10px;
    padding-top: 3px;
    width: 30px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
    border: 2px double rgb(126, 113, 31);
}
#search {
    border-radius: 10px 10px 10px 10px;
    max-height: 30px;
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    padding: 4px;
    font-style: normal;
    border: 2px double rgb(126, 113, 31);
    box-shadow: inset 4px 2px 2px 0px;
}
.searchContent {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--shade);
    animation: 1s linear 1s running infinite search;
    animation-iteration-count: 1;
    border-radius: 10px 10px 10px 10px;
    visibility: var(--v);
    width: 300px;
    min-height: 0px;
    background: #000;
    &:hover {
        visibility: visible;
    }
}
.searchComponents {
    background: black;

}
.searchBase {
    display: flex;
    flex-direction: column;
}
.OptionNavBarp3 {
    opacity: 0.7;
    transition: var(--transition);
    &:hover {
        opacity: 1;
    }
}
.OptionNavBarp4 {
    opacity: 0.7;
    transition: var(--transition);
    &:hover {
        opacity: 1;
    }   
}

.ColorChanger {
    width: 45px;
    height: 10px;
    background-color: var(--_bg);
    border-radius: 20px 20px 20px 20px;
    padding-left: 20px;
    border: 1px solid black;
    padding-top: 20px;
    position: relative;
    box-shadow: var(--_box_shadow);


    &::after {
        content: "";
        width: 23px;
        height: 23px;
        border-radius: 25px 25px 25px 25px;
        border: 1px solid black;
        bottom: 3px;
        left: var(--pos2_1);
        background-color: var(--after_bg);
        box-shadow: var(--after_box_shadow);
        position: absolute;
        transition: 0.5s all ease-out;
    }
}

.deco {
    &::after {
        content: "";
        width: 102%;
        height: 10px;
        aspect-ratio: 3/2;
        clip-path: polygon(0 0,calc(100% - 50px) 0,100% 100%,50px 100%);
        position: absolute;
        box-shadow: 10px 10px 10px 10px white;
        top: 48px;
        left: 36px;
        background-color: var(--shade);
    }
}
.deco2 {
    &::after {
        content: "";
        width: 102%;
        height: 10px;
        aspect-ratio: 3/2;
        clip-path: polygon(0 0,calc(100% - 50px) 0,100% 100%,50px 100%);
        position: absolute;
        top: 48px;
        left: 660px;
        background-color: var(--shade);
    }
}

/* Front */

.Page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(35vh);
    position: relative;
    z-index: -999;
    color: var(--font_color_inverse);
}
.LeftPage {
    margin-left: 50px;
    margin-top: 250px;
    padding: 10px;
    border-radius: 25px 25px 25px 25px;
    background: linear-gradient(48deg, rgba(9,153,181, 0.1) 0%, rgba(9, 222, 255, 0.1) 36%, rgba(0,222,255, 0.1) 100%);
    backdrop-filter: blur(20px);
    background-size: 20px;
    box-shadow: 0px 0px 10px 10px rgba(9,153,181, 0.1);
    h1 {
        font-family: "Yatra One", serif;
        font-weight: 200;
        font-style: normal;
        padding-top: 0;
    }
}
.TextStyle {
    h1 {
        background-image: conic-gradient(from var(--degrees), rgb(0, 0, 0), rgb(211, 211, 211), rgb(179, 179, 179), rgb(54, 54, 54), rgb(52, 52, 52), rgb(0, 0, 0));
        background-clip: text;
        text-shadow:  4px 3px 1px var(--font_color_inverse);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation:spin 10s linear infinite;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 10px;
            width: 100%;
            height: 5px;
            border-radius: 10px 10px 10px 10px;
            background: #242424;
            box-shadow: inset 0px 0px 1px 1px white;
        }

    }
    h3 {
        background: linear-gradient(48deg, rgba(9,153,181, 0.1) 0%, rgba(9, 222, 255, 0.1) 36%, rgba(0,222,255, 0.1) 100%);
        backdrop-filter: blur(40px);
        padding: 5px;
        min-width: 10px;
        border-radius: 10px 10px 10px 10px;
    }
}
.RightPage {

    width: 500px;
    height: 500px;
    background-image: url("resource-database-HS4kD-IHICc-unsplash-removebg-preview.png");
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
@property --degrees {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}
.BtnFront {
    position: relative;
    top: 150px;
    left: 40vw;
    width: 190px;
    height: 90px;
    border-radius: 10px 10px 10px 10px;
    background-color: #140033;
    font-size: 52px;
    font-family: "Chelsea Market", system-ui;
    color: rgb(106, 118, 129);

    &:hover {
        color: aliceblue;
        transition: 1s all ease-out;
        background-color: #2a0069;
        box-shadow: inset 0px 0px 15px 3px rgb(68, 0, 104);
        &::after, &::before {
            content: "";
            border-radius: 10px 10px 10px 10px;
            animation:spin 4s linear infinite;
            position: absolute;
            bottom: -5px;
            right: -5px;
            width: 100%;
            height: 100%;
            padding: 5px;
            background-image: conic-gradient(from var(--degrees), rgb(0, 0, 160), rgb(56, 169, 255), rgb(12, 114, 209), rgb(0, 47, 255), blue, rgb(0, 0, 160));
            z-index: -1;
        } 
        &::before {
            filter: blur(20px);
        }
    }
}
@keyframes spin {
    to {
        --degrees: 360deg;
    }
}

.A, .B {
    background-color: rgba(39, 255, 226, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 10px 0px 20px 30px;
    padding: 30px;
    box-shadow: inset 10px 10px 50px 7px rgb(0, 255, 221);
    border: 1px solid rgb(0, 140, 255);
}    

.OpR, .OpR2 {
    &:hover {
        font-size: large;
        transition: 0.1s all ease-out;
    }
}



/* Resume */



/* Contact */